fastapi
uvicorn[standard]
pydantic
pydantic-settings
requests
httpx
loguru
tenacity

pandas
numpy
scikit-learn
xgboost

boto3

SQLAlchemy
psycopg2-binary
alembic

streamlit

pre-commit
black
isort
flake8
detect-secrets
pytest
